  .dashboard-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }

  .logo-image {
    max-width: 350px;
    max-height: 150px;
    filter: invert(100%); 

  }
  
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 10px 20px;
    align-items: center;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  .navbar li {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
    margin-right: 100px;
    align-items: center;
  }

  .navbar li:hover {
    color: #007bff;
  }

  .logoutButton {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .logoutButton:hover{
    transition: background-color 0.3s;
    background-color: #d10303;
  }

  .currentUser {
    display: flex;
    align-items: center;
  }

  .userLogo {
    margin-left: 10px;
    border: solid gray 1px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar li {
      margin: 10px 0;
      font-size: 16px;
    }
  
    .logoutButton {
      margin-top: 10px;
    }
  }