.App {
text-align: center;
}

/*Registration Form styles*/
.registrationForm {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.registrationForm h1 {
color: black;

}

.registrationForm form{
  max-width: 250px;
}

.registrationForm label {
  display: block;
  margin-bottom: 5px;
}

.registrationForm input, button {
  width: 150px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registrationFormRegisterButton {
  background-color: green;
  color:white;
  font-weight: bold;
}

.registrationFormRegisterButton:hover {
  background-color: white;
  color:green;
  font-weight: bold;
}

.registrationFormExistingUserButton {
  margin-top: 15px;
  background-color: #3683f7;
  color:white;
  font-weight: bold;
}

.registrationFormExistingUserButton:hover {
  margin-top: 15px;
  background-color: white;
  color:#3683f7;
  font-weight: bold;
}


/*Login Form styles*/
.loginForm {
  display: flex;
  justify-content: center;
  padding-top: 100px;

}

.loginForm form{
  max-width: 250px;
}

.loginForm label {
  display: block;
  margin-bottom: 5px;
}

.loginForm input, button {
  width: 150px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginFormLoginButton {
  background-color: #3683f7;
  color:white;
  font-weight: bold;
}

.loginFormLoginButton:hover{
  background-color: white;
  color: #3683f7;
  font-weight: bold;
}

.loginFormRegistrationButton {
  margin-top: 15px;
  background-color: #f7a336;
  color:black;
  font-weight: bold;
}

.loginFormRegistrationButton:hover {
  margin-top: 15px;
  background-color: black;
  color: #f7a336;
  font-weight: bold;
}

/*Welcome Screen styles*/

.WelcomePage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(black, blue);
  color:white;
}

.welcomeMessage {
  padding-top: 20%;
}

.welcomeUserSelection {
  color:red;
}

.welcomeUserSelectionButton {
  margin: 20px;
  border: solid blue 1px;
  font-weight: bold;
}

.welcomeUserSelectionButton:hover {
  border: solid white 1px;
  background-color: blue;
  color: white
}