.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#39a6ff, #5757ff);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 250px;
}

.loginForm h1 {
    color: black;
}

.loginForm form {
    max-width: 200px;
}

.loginForm input,
.loginForm button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginFormLoginButton {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginFormLoginButton:hover {
    background-color: #0056b3;
}

.loginFormRegistrationButton {
    margin-top: 15px;
    background-color: #36b0f7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginFormRegistrationButton:hover {
    background-color: #0056b3;
}
