.registrationFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#39a6ff, #5757ff);
}

.registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
    max-width: 250px;
}

.registrationForm h1 {
    color: black;
}

.registrationForm form {
    max-width: 200px;
}

.registrationForm input,
.registrationForm button {
    width: 90%;
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid lightgray;
    border-radius: 5px;
}

.registrationFormRegisterButton {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registrationFormRegisterButton:hover {
    background-color: #0056b3;
}

.registrationFormExistingUserButton {
    background-color: #36b0f7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registrationFormExistingUserButton:hover {
    background-color: #0056b3;
}